<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python_via_FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\WinPython-32bit-2.7.6.3-20140407\python-2.7.6\python.exe|C:\inetpub\wwwroot\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
