<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'meta_header.html' %}

    <title>Trump</title>

    {% include 'bootstrap_header.html' %}
  </head>

  <body role="document">
    <!-- Fixed navbar -->
    {% include 'trump_header.html' %}

    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h1>Fuzzy Search</h1>
      </div>
      <form method="post" action="{{ url_for('fuzzy') }}">
      <div class="row">
          <div class="col-sm-12">
            
            <div class="form-group">
              <input type="text" class="form-control" id="usrqry" name="usrqry" placeholder="{{ usrqry }}">
            </div>
            
            {% if results %}
              <!-- put some intelligent info here -->
            {% else %}
            {% if (msg != 'Type to Search') %}
            <h3><span class="label label-danger">{{ msg }}</span></h3>
            {% endif %}
            {% endif %}
          </div>
          </div>
        <div class="row">
          <div class="col-sm-10">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="checkbox">
                    <label><input type="checkbox" name="scname" value="True" {% if name %}checked{% endif %}>Name</label>
                    <label><input type="checkbox" name="scdesc" value="True" {% if desc %}checked{% endif %}>Description</label>
                    <label><input type="checkbox" name="sctags" value="True" {% if tags %}checked{% endif %}>Tags</label>
                    <label><input type="checkbox" name="scmeta" value="True" {% if meta %}checked{% endif %}>Meta Value</label>
                    <label><input type="checkbox" name="scfuzz" value="True" checked>Fuzzy</label>
                    <button type="submit" class="btn btn-default">Search</button>
                </div>
              </div>

          </div>
          </div>
          <div class="col-sm-1">
          </div>
          <!-- /row -->
       </div>
    </form>
      {% for hit in hits %}
      <div class="row">
        <div class="col-md-10">
          <div class="panel panel-default">
          <div class="panel-heading">
            {{ hit['_source']['name'] }} <span class="label label-info">{{ hit['_source']['units'] }}</span> {{ hit['_source']['description'] }}
          </div>
          <div class="panel-body">
            {% for tag in hit['_source']['tags'] %}
            {{ taglink(tag) }}
            {% endfor %}
            <h5></h5>
            <dl class="dl-horizontal">
              {% for key, value in hit['_source']['meta'].iteritems() %}
                 <dt>{{ key }}</dt><dd>{{ value }}</dd>
              {% endfor %}
            </dl>
          </div>
          </div>
        </div>
        <div class="col-md-2">
           <span class="label label-success">{{ hit['_score'] }}</span>
        </div>
      </div>
      {% endfor %}
 
    </div> <!-- /container -->

    {% include 'bootstrap_footer.html' %}
  </body>
</html>
