<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'meta_header.html' %}

    <title>{{ symbol.name }} | Trump</title>

    {% include 'bootstrap_header.html' %}
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    {% include 'trump_header.html' %}

    <div class="container theme-showcase" role="main">
      {% include 'symbol_header.html' %}

      
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="row">
        <div class="col-md-4">
             <h2>{{ symbol.name }}</h2>
             <h5>{{ symbol.description }}</h5>
             {% for symtag in symbol.tags %}
                {{ taglink(symtag.tag) }}
             {% endfor %}   
             <br><h6><span class="label label-info">{{ symbol.units }}</span></h6>
        </div>
        <div class="col-md-3">
          <br><font size=1><span class="label label-info">{{ symbol.index.indimp }}</span></font><br>{{ ind }}<br>
        </div>
        <div class="col-md-2">
          <br><font size=1><span class="label label-info">{{ symbol.dtype.datadef }}</span></font><br>{{ sdfhtml }}<br>length : {{ lind }}<br>dtype : {{ dtype }}
        </div>
        <div class="col-md-3">
             <br><font size=1>
             {% for hp, h in symbol.handle.points %}
             {{ hp }}<br>
             <span class="label label-warning">{{ symbfbutton(symbol,hp) }}</span><br>
             {% endfor %}
             </font>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <table class="table">
            <thead>
              <tr>
                {% for attr in metaattr %}
                <th>{{ attr }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for attr in metaattr %}
                <td>{{ symbol.meta_map[attr].value }}</td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-3">
          <br><a href="/c/{{ symbol.name }}" class="btn btn-lg btn-default">Cache</a>
        </div>
      </div>
      {% for feed in symbol.feeds %}
      <div class="row">
        <div class="col-md-1">
          <font size=1>Feed #</font><h2>{{ feed.fnum }}</h2><button type="button" class="btn btn-xs btn-success">{{ feed.state }}</button>
        </div>
        <div class="col-md-1">
          <h4>{{ feed.ftype }}</h4>
            {% for src in feed.sourcing %}
               {{ src.stype }}
        </div>
        <div class="col-md-5">
               <dl class="dl-horizontal">
                 {% for srck in src.sourcekwargs %}
                 <dt>{{ srck.kword }}</dt><dd>{{ srck.val }}</dd>
                 {% endfor %}
               </dl>
        </div>    
            {% endfor %}
        <div class="col-md-2"><font size=1>
             {% for hp, h in feed.handle.points[:3] %}
             {{ hp }}<br>
             <span class="label label-info">{{ feedbfbutton(symbol,feed,hp) }}</span><br>
             {% endfor %}
             </font>
        </div>
         <div class="col-md-3"><font size=1>
             {% for hp, h in feed.handle.points[3:] %}
             {{ hp }}<br>
             <span class="label label-info">{{ feedbfbutton(symbol,feed,hp) }}</span><br>
             {% endfor %}
             </font>
        </div>
      </div>
      {% endfor %}
      <div class="row">
		{% if cachedonce %}
        <hr>
        Last Completed Cache: {{ lastcache.strftime('%a %b %d @ %I:%M %p') }}
        <br>
        Last Attempted Cache: {{ symbol.last_cache('START').strftime('%a %b %d @ %I:%M %p') }}
		{% else %}
		This symbol as has never been cached successfully.
		{% endif %}
      </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/docs.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
  </body>
</html>
