<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ symbol.name }} | Trump</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{ url_for('static', filename='js/ie-emulation-modes-warning.js') }}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Trump</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Browser</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/settings">Settings</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/s/{{ symbol.name}}">Symbol</a></li>
              <li><a href="#">Munging</a></li>
              <li><a href="#">Validity</a></li>
              <li><a href="#">Sourcing</a></li>
              <li><a href="#">Index</a></li>
              <li><a href="#">Data</a></li>
              <li class="divider"></li>
              <li><a href="#">Chart</a></li>
              <li><a href="#">Log</a></li>
              <li class="divider"></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Edit <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Indexing Instructions</a></li>
                  <li><a href="#">Source Information</a></li>
                  <li><a href="/orfs/{{ symbol.name }}">Individual Datapoints</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Handler Instructions</li>
                  <li><a href="#">Symbol</a></li>
                  <li><a href="#">Feeds</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
      
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="row">
        <div class="col-md-4">
             <h2>{{ symbol.name }}</h2>
             <h5>{{ symbol.description }}</h5>
             {% for symtag in symbol.tags %}
                {{ taglink(symtag.tag) }}
             {% endfor %}   
             <br><h6><span class="label label-info">{{ symbol.units }}</span></h6>
        </div>
      </div>
      <div class="row">
        <table class="table table-condensed">
          {% for row in data %}
          <tr>
            {% for cell in row[:2] %}<td>{{ cell }}</td>{% endfor %}
            <td><input type="text" class="form-control" placeholder="{{ row[2] }}"></td>
            {% for cell in row[3:-1] %}<td>{{ cell }}</td>{% endfor %}
            <td><input type="text" class="form-control" placeholder="{{ row[-1] }}"></td>
          </tr>
          {% endfor %}
        </table>
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <div class="row">
        <div class="col-md-9">
          <table class="table">
            <thead>
              <tr>
                {% for attr in metaattr %}
                <th>{{ attr }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for attr in metaattr %}
                <td>{{ symbol.meta_map[attr].value }}</td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-3">
          <br><a href="/c/{{ symbol.name }}" class="btn btn-lg btn-default">Cache</a>
        </div>
      </div>
      {% for feed in symbol.feeds %}
      <div class="row">
        <div class="col-md-1">
          <font size=1>Feed #</font><h2>{{ feed.fnum }}</h2><button type="button" class="btn btn-xs btn-success">{{ feed.state }}</button>
        </div>
        <div class="col-md-1">
          <h4>{{ feed.ftype }}</h4>
            {% for src in feed.sourcing %}
               {{ src.stype }}
        </div>
        <div class="col-md-5">
               <dl class="dl-horizontal">
                 {% for srck in src.sourcekwargs %}
                 <dt>{{ srck.kword }}</dt><dd>{{ srck.val }}</dd>
                 {% endfor %}
               </dl>
        </div>    
            {% endfor %}
        <div class="col-md-2"><font size=1>
             {% for hp, h in feed.handle.points[:3] %}
             {{ hp }}<br>
             <span class="label label-danger">{{ h }}</span><br>
             {% endfor %}
             </font>
        </div>
         <div class="col-md-3"><font size=1>
             {% for hp, h in feed.handle.points[3:] %}
             {{ hp }}<br>
             <span class="label label-danger">{{ h }}</span><br>
             {% endfor %}
             </font>
        </div>
      </div>
      {% endfor %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/docs.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
  </body>
</html>
